@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}
.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
/* navigation styling*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 13px 18px;
   background-color: black;
   position: sticky;
   top: 0;
}
.leftnav{
    display: flex;
    gap: 20px;
}
.leftnav img:nth-child(2){
    width: 90px;
}
.centernav{
    width: 60%;
    display: flex;
    justify-content: center;
}
.centernav >input{
    background-color: black;
    font-size: 17px;
    width: 50%;
    padding: 6px;
    border: none;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid #303030;
    color: white;
}
.centernav img:nth-child(2){
    padding: 3px 10px;
    background-color:#222222;
    border-bottom-right-radius: 20px;
    border-top-right-radius:20px;
}
.centernav img:nth-child(3){
    margin-left: 10px;
}
.rightnav{
    display: flex;
    gap: 20px;

}
/* body part*/
.ytpremium{
    font-family: Roboto,Arial,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 65%;
    gap: 50px;
}
.ytdesc > h2{
    text-align: center;
    font-weight:bold;
    font-size: 32px;
    font-family: Roboto,sans-serif;
    line-height: 40px;
}
.ytpremiumDetails{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.ytpremiumDetails > button{
    padding: 10px 15px;
    border-radius: 20px;
    width: 39%;
    border: none;
    font-weight: 60px;
    background-color: #3ea6ff;
    cursor: pointer;
}
.ytpremiumDetails p:nth-child(2){
    font-size: 25px;
    font-weight: bold;
}
.anual,.rest{
    color: #76c4ff;
    cursor: pointer;

}
/* features*/
.features{
    background-color: black;
    color: white;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.features div:nth-child(1),.features div:nth-child(2),.features div:nth-child(3){
   width: 18%;
   height: 80%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}
.features div:nth-child(1) >p ,.features div:nth-child(2) >p ,.features div:nth-child(3) >p {
    color: rgba(218, 218, 218, 0.874);
}


/* background image*/
.bg1{
    background-image: url(./bg1.jpeg);
    height: 75%;
    background-size: cover;
}
.bg1 >div> h3{
    color: white;
    font-size: 2.7em;
    font-weight:600;

}
.bg1 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 170px 0 0 750px;
}
.bg1 >div> p{
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.554);
}
.bg2{
    background-image: url(./bg2.jpeg);
    height: 75%;
    background-size: cover;
}
.bg2 >div> h3{
    color: white;
    font-size: 2.8em;
    font-weight:600;

}
.bg2 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 170px 0 0 250px;
}
.bg2 >div> p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.554);
}
.bg3{
    background-image: url(./bg3.jpeg);
    height: 75%;
    background-size: cover;
}
.bg3 >div> h3{
    color: white;
    font-size: 2.8em;
    font-weight:600;

}
.bg3 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 170px 0 0 750px;
}
.bg3 >div> p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.554);
}
.bg4{
    background-image: url(./bg4.jpeg);
    height: 75%;
    background-size: cover;
}
.bg4 >div> h3{
    color: white;
    font-size: 2.8em;
    font-weight:600;

}
.bg4 > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 170px 0 0 250px;
}
.bg4 >div> p{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.554);
}

/*Footer */

.faqs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 61%;
    gap: 50px;
    height: 80%;
}

.faqDetail{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.faqDetail > p{
    font-size:25px;
    font-weight: 800;
}
.drop{
    display: flex;
    justify-content: space-between; 
    padding:  20px 0;
    font-size :18px;
    font-weight: 700;
}
i {
    width: 100%;
}
hr{

    opacity: 0.4;
}
.helpCenter{
    width: 50%;
}
.helpCenter > p {

    font-size: 20px;
    font-weight: 800;
}
.helpCenter > p > span {
    color: #3ebaff;
}